# Ignore build and dist folders
build/* linguist-vendored
dist/* linguist-vendored

# Or mark docs as documentation
docs/* linguist-documentation

# Force Python to be the main language
*.py linguist-detectable=true
